[Desktop Entry]
Version=1.0
Type=Application
Name=Pirated Minecraft
Icon=~/programs/minecraft_pirated_launcher/minecraft_pirated_launcher_icon.png
Exec="java -Xmx400M -Xms400M -jar ~/programs/minecraft_pirated_launcher/shinigima.jar" %f
Comment=Pirated Minecraft!
Categories=Game;
Terminal=false
Name[en_US]=Pirated Minecraft
Comment[en_US]=Minecraft!
