[Desktop Entry]
Version=1.0
Type=Application
Name=Minecraft
Icon=~/programs/minecraft_official_launcher/minecraft_launcher_icon.png
Exec="java -Xmx400M -Xms400M -jar ~/programs/minecraft_official_launcher/minecraft.jar" %f
Comment=Minecraft!
Categories=Game;
Terminal=false
Name[en_US]=Minecraft
Comment[en_US]=Minecraft!
